.Celebrate {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
.name {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.lottie {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
