.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 60px;
}
.form input {
  display: block;
  width: 100%;
  background-color: hsl(236, 21%, 26%);
  color: hsl(345, 95%, 68%);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0 #1c1720;
  padding: 20px;
  font-weight: bold;
}
.form input:not([type="submit"]) {
  border: 0;
  margin-bottom: 0.5rem;
  outline: none;
}
.form input[type="submit"] {
  display: inline;

  cursor: pointer;
  font-family: "Red Hat Text", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
}
.login {
  text-align: center;
}
