.timerPart {
  margin: 0 1rem;
}

.outer {
  width: 8rem;
  height: 8rem;
  position: relative;
  -webkit-box-shadow: 0 0.7rem 0 #1c1720;
  box-shadow: 0 0.7rem 0 #1c1720;
  border-radius: 0.5rem;
}

.number {
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fb6087;
  font-size: 4rem;
}
.label {
  text-transform: uppercase;
  color: #8486a9;
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 5px;
}
